{% extends 'base.html' %}
{% load static %}


{% block content %}

        <main class="row text-center text-white">
            <div class="col-12 mt-5 pt-5">
                <h2 class="py-5"> پلی استر ها</h2>
            </div>
            <div class="col-12 mb-5 col-md-4">
                <div class="card mx-auto col-10 border-0">
                    <img src="./public/Images/paya-3-resize.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <h5 class="card-title">پلی استر</h5>
                        <p class="card-text">فارسی سازی ایرانیان مقیم باانگیزه</p>
                        <a href="#" class="btn btn-yellow">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5 col-md-4">
                <div class="card mx-auto col-10 border-0">
                    <img src="./public/Images/paya-3-resize.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <h5 class="card-title">پلی استر</h5>
                        <p class="card-text">فارسی سازی ایرانیان مقیم باانگیزه</p>
                        <a href="#" class="btn btn-yellow">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5 col-md-4">
                <div class="card mx-auto col-10 border-0">
                    <img src="./public/Images/paya-3-resize.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <h5 class="card-title">پلی استر</h5>
                        <p class="card-text">فارسی سازی ایرانیان مقیم باانگیزه</p>
                        <a href="#" class="btn btn-yellow">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5 col-md-4">
                <div class="card mx-auto col-10 border-0">
                    <img src="./public/Images/paya-3-resize.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <h5 class="card-title">پلی استر</h5>
                        <p class="card-text">فارسی سازی ایرانیان مقیم باانگیزه</p>
                        <a href="#" class="btn btn-yellow">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5 col-md-4">
                <div class="card mx-auto col-10 border-0">
                    <img src="./public/Images/paya-3-resize.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <h5 class="card-title">پلی استر</h5>
                        <p class="card-text">فارسی سازی ایرانیان مقیم باانگیزه</p>
                        <a href="#" class="btn btn-yellow">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>

        </main>
{% endblock %}